[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

molecule = "*"
docker-py = "*"
ansible = ">=2.2,<2.3"


[requires]

python_version = "2.7"
