[Unit]
Description=Git LFS Server

[Service]
Type=simple
ExecStart={{ git_lfs_server__executable_path }}
Environment="LFS_LISTEN={{ lfs_listen }}"
Environment="LFS_HOST={{ lfs_host }}"
Environment="LFS_METADB={{ lfs_metadb }}"
Environment="LFS_CONTENTPATH={{ lfs_contentpath }}"
Environment="LFS_ADMINUSER={{ lfs_adminuser }}"
Environment="LFS_ADMINPASS={{ lfs_adminpass }}"
Environment="LFS_SCHEME={{ lfs_scheme }}"
{% if lfs_scheme == "https" %}
Environment="LFS_KEY={{ lfs_key }}"
Environment="LFS_CERT={{ lfs_cert }}"
{% endif %}
{% if git_lfs_server__lfs_usetus %}
Environment="LFS_USETUS=1"
Environment="LFS_TUSHOST={{ lfs_tushost }}"
{% endif %}

[Install]
WantedBy=default.target
